{% extends "base-patient.html" %}

{% load static %}
{% block head-content %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/#/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Profile Settings</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    {% for msg in messages %}
        <div class="alert alert-primary" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock head-content %}
{% block pat-content %}
    <!-- Page Content -->
    <div class="card">
        <div class="card-body">

            <!-- Profile Settings Form -->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <div>
                                {{ form.mobile_no }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Age</label>
                            <div>
                                {{ form.age }}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Email ID</label>
                            {{ form.email }}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label>Address</label>
                            {{ form.address }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            {{ form.city }}
                        </div>
                    </div>

                </div>
                <div class="submit-section">
                    <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                </div>
            </form>
            <!-- /Profile Settings Form -->

        </div>
    </div>

    <!-- /Page Content -->
{% endblock pat-content %}